#chatContainer {
  min-height: 100vh;
  padding: 1vh 2vw;
  margin: 0;
  background-color: black;
  /* display: flex; */
  /* align-items: center; */
}

/* All the chat components. */
#chatBoxContainer {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF ;
  border-radius: 8px ;
  height: 85vh; /* ONLY FOR MED/LARGE SCREENS; give navBar height: 15vh. */
  /* margin: 0 1vw; */
  padding: 0;
}

#textContainer {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px ;
  height: 85vh;
  /* margin: 0 1vw; */
  padding: 0;
}

/* SMALL SCREENS */
@media (min-width: 300px) and (max-width: 600px) {
  #textContainer{
    height: auto;
  }
}

/* MEDIUM SCREENS */
@media (min-width: 601px) and (max-width: 992px) {

}

/* LARGE SCREENS */
@media (min-width: 993px){

}