#chatContainer {
  min-height: 91vh;
  padding: 4vh 1vw 0 1vw;
  margin: 0;
  background-color: black;
  /* display: flex; */
  /* align-items: center; */
}


/* All the chat components. */
#chatBoxContainer {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF ;
  border-radius: 8px ;
  height: 80vh; /* ONLY FOR MED/LARGE SCREENS; give navBar height: 15vh. */
  /* margin: 0 1vw; */
  padding: 0;
}

#textContainer {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px ;
  height: 80vh;
  /* margin: 0 1vw; */
  padding: 0;
}

/* SMALL SCREENS */
@media (min-width: 300px) and (max-width: 600px) {
  #chatContainer {
    padding: 1vh 0.5vw 0 0.5vw;
  }
  #textContainer{
    height: auto;
  }
  #chatBoxContainer{
    height: 60vh;
    margin: 1vh 0vh 1vh;
  }
}

/* MEDIUM SCREENS */
@media (min-width: 601px) and (max-width: 992px) {
  
}

/* LARGE SCREENS */
@media (min-width: 993px){

}